/* TEXT FONT SIZES */
$font-size-xxs: 0.625rem; // 10px //Badge number
$font-size-xs: 0.75rem; // 12px //Chip
$font-size-s: 0.875rem; // 14px //Link, Secondary Body, Primary Button
$font-size-default: 1rem; // 16px // Primary Body
$font-size-ml: 1.125rem; //18px // H4
$font-size-l: 1.25rem; //20px //H3
$font-size-xl: 1.5rem; //24px //H2
$font-size-xxl: 2rem; //32px // H1
$font-size-xxxl: 3rem; //48px //Toast and inline messages icon size

/* ICON FONT-SIZES */
$font-size-icon-l: 1.875rem; // 30px
