@import '../../styles/font-sizes.scss';

.group {
	position: relative;
	margin: 25px 0;

	.form-textarea {
		display: block;
		border: 1px solid var(--grey);
		border-radius: 6px;
		background: none;
		background-color: white;
		padding: 10px 16px 10px 16px;
		width: 100%;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		font-size: 18px;
		font-size: $font-size-default;

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: var(--grey);
		}
	}
	.textarea-label {
		font-size: $font-size-s;
	}
}
