.chat-messages-wrapper {
	height: 80%;
	width: 90%;

	.messages-wrapper {
		overflow-y: scroll;
	}

	.messages-end-ref {
		position: absolute;
		bottom: 0;
	}

	.empty-chat {
		text-align: center;
	}
}
