.container {
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	max-width: 34rem;
	float: right;
	&.empty {
		margin: 0;
		padding: 0;
	}
}

.left {
	float: left;
	border-color: #ccc;
	background-color: #ddd;
}

.container::after {
	content: '';
	clear: both;
	display: table;
}

.time {
	float: right;
	color: #aaa;
}

.message {
	float: left;
}
