.container {
	background-color: var(--primary);
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	max-width: 34rem;
	float: right;
	color: white;

	&.empty {
		margin: 0;
		padding: 0;
	}
}

.left {
	float: left;

	background-color: var(--grey);
}

.container::after {
	content: '';
	clear: both;
	display: table;
}

.time {
	float: right;
}

.message {
	float: left;
}
